.container{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.price{
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.options{
    display: flex;
    gap:30px;
    font-size:18px;
}
.option{
    padding:5px;
    border : 1.5px solid 	#1DB954;
    border-radius: 2px;
}
.cartoptions{
    display: flex;
    justify-content: space-between;
}
.button{
    padding:5px;
    background-color: #1DB954;
    width: 14rem; 
    
}
.quanity{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 10px;
    border: 1.5px solid #1DB954;

}
.spacebwitems{
    display: flex;
    gap:10px;
    font-size: 20px;
}